body {
    min-height: 100vh;
    overflow-x: hidden;
}

input {
  width: 30%;
}
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.top-header {
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F8F9FA;
}

.page-content {
    width: 100%;
    min-height: 100vh;
    background-color: #EFF1F7;
    /*background: -webkit-linear-gradient(to right, #EFF1F7, #fff);*/
    /*background: linear-gradient(to right, #EFF1F7, #fff);*/
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

/*additional*/

.term {
    font-size: 25px;
    font-family: monospace;
}

hr.solid {
    border-top: 3px solid #bbb;
}
.nizbtn{
    padding-top: 30px;
}

.niz{
    padding-top: 10px;
}
.content-res-wrapper {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0px 40px;
}

.card{
    width: 20%;
    margin: auto;
}

.col-md-12{
    padding: 2px;

}

.task-title {
    font-size: 22px;
    background: #DAD2CA;
    color: #519bc5;
    padding: 5px;
    text-align: center;
    border-radius: 10px; /* future proofing */


}
.back-btn{
    font-size: 18px;
    color: #ffa812;
    padding: 5px;

}

.subsystem-title {
    font-size: 22px;
    color: #519bc5;
    padding: 5px;
    text-align: center;
}